@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --color-slate-grey: #4b4b4b;
  --color-white-smoke: #fafafa;
  --color-midnight-navy: #2e3a59;
  --color-light-grey: #f5f6fa;
  --color-cool-blue: #3a7ca5;
  --color-golden-brown: #b57f49;
  --color-deep-teal: #074b4c;
  --color-warm-beige: #E8C999;

}
body {
  font-size: 1.6rem;
  font-family: var(--primary-font)
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
  background-color: var(--color-white-smoke);
}

.header-contact {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

@media screen and (max-width: 700px) {
  .header-contact {
    display: none;
  }
}
.header-contact-item {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.header-contact-item i {
  color: var(--color-midnight-navy);
  font-size: 1.4rem;
}

.header-contact-item p {
  color: var(--color-midnight-navy);
  font-size: 1.4rem;
  font-weight: 700;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem 2rem;
}

.header-logo-wrapped {
  text-decoration: none;
  font-size: 1.8rem;
  font-family: var(--secondary-font);
}

.urban {
  color: var(--color-golden-brown);
}

.haven {
  color: var(--color-deep-teal);
}

.header-nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
  padding: 1.4rem 1.5rem;
  background-color: #E8C999;
  border-radius: 2rem;
}

.menu-toggle-button {
  display: none;
}

@media screen and (max-width: 720px) {
  .header-nav-list {
    gap: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .header-navigation {
    align-items: flex-start;
    position: relative;
  }

  .header-nav-list {
    flex-direction: column;
  }

  .header-nav {
    /*background-color: #63caa4;*/
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
  }

  .menu-toggle-button {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: .5rem;
  }
}

.header-nav-list-item a {
  text-decoration: none;
  color: var(--color-midnight-navy);
  font-weight: 550;
  transition: var(--color-cool-blue) 0.3s ease;
}

.header-nav-list-item a:hover {
  color: var(--color-cool-blue);
}

/* Hero Section */
.hero {
  padding-top: 2rem;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url(./images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-light-grey);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1 {
  font-size: 6.8rem;
  font-weight: 575;
  margin-bottom: 1.5rem;
  font-family: var(--secondary-font);
}

.hero p {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  font-family: var(--secondary-font);
  color: var(--color-white-smoke);
}

.cta-hero-btn {
  display: inline-block;
  text-decoration: none;
  background-color: var(--color-deep-teal);
  color: var(--color-white-smoke);
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  font-weight: 500;
  border: 2px solid var(--color-warm-beige);
  transition: all 0.3s ease;
}

.cta-hero-btn:hover {
  background-color: transparent;
  color: var(--color-warm-beige);
}

@media screen and (max-width: 43.75em) {
  .hero h1 {
    font-size: 3.5rem;
  }

  .hero p {
    font-size: 1.5rem;
  }
}

/* About Section */
.about-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 8rem;
  color: var(--color-deep-teal);
}

.about-title h2 {
  font-size: 3.5rem;
  font-family: var(--secondary-font);
  margin-bottom: 1rem;
}

.about-title p {
  font-size: 1.9rem;
  color: var(--color-slate-grey);
}

.about-content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.about-card {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-card-img-wrapper {
  max-width: 100%;
  height: auto;
}

.about-card-img-wrapper img {
  width: 100%;
  max-width: 300px;
  max-height: 450px;
  height: auto;
  border-radius: 5px;
  padding-left: 0rem;
  object-fit: cover;
}

.about-text {
  flex: 2;
  min-width: 300px;
}

.about-text h3 {
  font-size: 2rem;
  color: var(--color-deep-teal);
  margin-bottom: 1.5rem;
}

.about-text p {
  margin-bottom: 2rem;
}

.cta-about-btn {
  text-decoration: none;
  border-radius: 20px;
  padding: 0.8rem 1.5rem;
  background-color: var(--color-golden-brown);
  color: var(--color-white-smoke);
  border: 2px solid var(--color-golden-brown);
  transition: all 0.3s ease
}

.cta-about-btn:hover {
  background-color: transparent;
  color: var(--color-golden-brown);
}

@media screen and (max-width: 750){
  .about-content {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
  }

  .about-card-img-wrapper {
    max-width: 90%;
    height: auto;
  }

  .about-text {
    flex: none;
    width: 100%;
  }
}